{{ log_dir }}/*.log {
	{{ nginx_log_rotate_period }}
	missingok
	rotate {{ nginx_log_rotate_keep }}
	compress
	delaycompress
	notifempty
	create 0644 {{ nginx_user }} adm
	sharedscripts
	prerotate
		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
			run-parts /etc/logrotate.d/httpd-prerotate; \
		fi \
	endscript
	postrotate
		invoke-rc.d nginx rotate >/dev/null 2>&1
	endscript
}
