# Server configuration
#
#
{% if item.ssl_redirect is defined and item.ssl_redirect %}
server {
{% if item.ssl_redirect_listen is defined %}
{% for listen in item.ssl_redirect_listen %}
    listen {{ listen | default('80 default_server') }};
{% endfor %}
{% else %}
    listen '80 default_server';
{% endif %}
    server_name {{ item.server_name }}{% if item.server_aliases is defined and item.server_aliases != "" %} {{item.server_aliases}}{% endif %};
    return 301 https://$server_name$request_uri;
}
{% endif %}

server {
{% if item.listen is defined %}
    
{% for listen in item.listen %} 
    listen {{ listen | default('443 default_server') }};
{% endfor %}
    
{% else %}
    listen '443 default_server';
{% endif %}
	
{% if item.ssl_certificate is defined %}
    # SSL
    ssl_certificate     {{ item.ssl_certificate }};
    ssl_certificate_key {{ item.ssl_certificate_key }};
{% endif %}    

    root {{ item.root }}/{{ item.public }};

    # Add index.php to the list if you are using PHP
    index {{ item.index | default('index.html index.htm') }};

    server_name {{ item.server_name }}{% if item.server_aliases is defined and item.server_aliases != "" %} {{item.server_aliases}}{% endif %};
	

{% if nginx_behind_proxy %}
    access_log {{ item.log_dir }}/{% if item.access_log is defined %}{{ item.access_log }}{% else %}nginx_access_log{% endif %} main;  
{% else %}
    access_log {{ item.log_dir }}/{% if item.access_log is defined %}{{ item.access_log }}{% else %}nginx_access_log{% endif %};
{% endif %}

    error_log {{ item.log_dir }}/{% if item.error_log is defined %}{{ item.error_log }}{% else %}nginx_error_log{% endif %};


{% if item.error_page is defined %}
{% for error_page in item.error_page %}
    error_page {{ error_page }};
{% endfor %}
{% endif %}

{% if item.extras is defined %}
{% for extra in item.extras %}
    {{ extra }}
{% endfor %}
{% endif %}

{% if item.locations is defined %}	
{% for location in item.locations %}
    location {{ location.declare }} {
{% for location_line in location.rules %}
{% if location_line != "" %}
        {{ location_line }};
{% endif %}
{% endfor %}
    }
    
{% endfor %}
{% endif %}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    location ~ /\.ht {
    	deny all;
    }

{% if item.awstats_enabled is defined and item.awstats_enabled %}
    location /awstats-icon {
        alias /usr/share/awstats/icon/;
    }
    
    location ~ ^/awstats\.pl {
        auth_basic            "Admin";
        auth_basic_user_file  {{ item.root }}/.htpasswd; 
        
        gzip off;
        include         fastcgi_params;
        fastcgi_pass    {{item.awstats_fastcgi_pass}};
        fastcgi_index   cgi-bin.php;
        fastcgi_param   SCRIPT_FILENAME    /usr/lib/cgi-bin/cgi-bin.php;
        fastcgi_param   SCRIPT_NAME        /cgi-bin/cgi-bin.php;
        fastcgi_param   X_SCRIPT_FILENAME  /usr/lib/cgi-bin$fastcgi_script_name;
        fastcgi_param   X_SCRIPT_NAME      $fastcgi_script_name;
        fastcgi_param   REMOTE_USER        $remote_user;
    }

{% endif %}

}

